<mat-stepper [linear]="isLinear" #stepper>

  <!-- STEP 1 : Nom -->
<mat-step [stepControl]="premierFormulaireGroupe">
  <form [formGroup]="premierFormulaireGroupe">
    <ng-template matStepLabel>Votre nom</ng-template>

    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="premierCtrl" required>
    </mat-form-field>

    <button mat-button matStepperNext>Suivant</button>
  </form>
</mat-step>

  <!-- STEP 2 : Rendez-vous -->
 <mat-step [stepControl]="coiffureFormGroup">
  <form [formGroup]="coiffureFormGroup">
    <ng-template matStepLabel>Coiffure</ng-template>

    <!-- LISTE -->
    <mat-form-field appearance="outline">
      <mat-label>Type de coiffure</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="Nattes collées simples">Nattes collées simples</mat-option>
        <mat-option value="Nattes collées complexes">Nattes collées complexes</mat-option>
        <mat-option value="Tresses simples">Tresses simples</mat-option>
        <mat-option value="Tresses (beaucoup de cheveux)">Tresses (beaucoup de cheveux)</mat-option>
        <mat-option value="Afro / volume important">Afro / volume important</mat-option>
        <mat-option value="Autre">Autre</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- OPTIONNEL -->
    <mat-form-field appearance="outline">
      <mat-label>Détails (optionnel)</mat-label>
      <textarea matInput formControlName="details"></textarea>
    </mat-form-field>

    <button mat-button matStepperPrevious>Retour</button>
    <button mat-button matStepperNext>Suivant</button>
  </form>
</mat-step>

  <!-- STEP 3 : Adresse -->
   <!-- <mat-step [stepControl]="rdvFormGroup">
  <form [formGroup]="rdvFormGroup">
    <ng-template matStepLabel>Rendez-vous</ng-template>

    <mat-form-field appearance="outline">
      <mat-label>Date souhaitée</mat-label>
      <input matInput type="date" formControlName="date" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Heure souhaitée</mat-label>
      <input matInput type="time" formControlName="heure" required>
    </mat-form-field>

    <button mat-button matStepperPrevious>Retour</button>
    <button mat-button matStepperNext>Suivant</button>
  </form>
</mat-step> -->
<!-- STEP 3 : Rendez-vous -->
<mat-step [stepControl]="rdvFormGroup">
  <form [formGroup]="rdvFormGroup">
    <ng-template matStepLabel>Rendez-vous</ng-template>

    <!-- Date -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Date souhaitée</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Heure -->
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Heure souhaitée</mat-label>
      <input matInput type="time" formControlName="heure" required>
    </mat-form-field>

    <button mat-button matStepperPrevious>Retour</button>
    <button mat-button matStepperNext>Suivant</button>
  </form>
</mat-step>

<!--  STEEP 3 -->
  <!-- <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Adresse</ng-template>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" required>
      </mat-form-field>

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step> -->

  <!-- STEP 4 : Done -->
  <mat-step>
  <ng-template matStepLabel>Confirmation</ng-template>

  <p>Vous allez envoyer votre demande sur WhatsApp.</p>

  <button mat-button matStepperPrevious>Retour</button>

  <button
    mat-raised-button
    color="primary"
    (click)="sendToWhatsApp()">
    Envoyer sur WhatsApp
  </button>
</mat-step>

</mat-stepper>