.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #eee;
}

/* LOGO */
.logo {
  flex: 1;
  text-align: left;
}

.h-description{
top: 1;
text-align: center;
}
/* BURGER BUTTON */
.burger {
  display: none;
  font-size: 1.6rem;
  top: 1;
}

/* NAVIGATION DESKTOP */
.main-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* TOOLS */
.tools {
  display: flex;
  gap: 0.5rem;
}

.mobile-tools {
  display: none;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {

  .burger {
    display: block;
  }

  .desktop-tools {
    display: none;
  }

  .main-nav {
    width: 100%;
    flex-direction: column;
    display: none;
    margin-top: 1rem;
    text-align: center;
  }

  .main-nav.open {
    display: flex;
  }

  .mobile-tools {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
