<!-- LOGO / TITLE -->
<mat-toolbar color="accent" class="main-header">
  <div class="header-left">
    <figure class="logo">
      <img src="assets/img/gmhb.png" alt="GMHB" />
    </figure>

    <div class="brand-text">
      <h1 class="logo-title">GMHB</h1>
      <p class="h-description">
        {{ "header.description" | translate }}
      </p>
    </div>
  </div>

  <!-- NAV -->
  <nav class="main-nav" [class.open]="isMenuOpen">
    <a routerLink="/home" (click)="closeMenu()">{{ "nav.home" | translate }}</a>
    <a routerLink="/services" (click)="closeMenu()">{{
      "nav.services" | translate
    }}</a>
    <a routerLink="/contact" (click)="closeMenu()">{{
      "nav.contact" | translate
    }}</a>
    <a routerLink="/dashboard" (click)="closeMenu()">{{
      "nav.galerie" | translate
    }}</a>

    <button mat-button (click)="toggleGrayscale()">
      🌓 {{ "ui.bwMode" | translate }}
    </button>

    <button mat-button (click)="switchLang('fr')">🇫🇷</button>
    <button mat-button (click)="switchLang('en')">🇺🇸</button>
    <button mat-button (click)="switchLang('es')">🇪🇸</button>
  </nav>

  <!-- BURGER -->
  <button
    mat-icon-button
    class="burger"
    (click)="toggleMenu()"
    aria-label="Menu"
  >
    ☰
  </button>
</mat-toolbar>
