<header>
  <h1>{{ t({ fr: 'Good Mother Hair Braiding', en: 'Good Mother Hair Braiding' }) }}</h1>

  <nav class="main-nav">
    <a routerLink="/home">{{ t({ fr: 'Accueil', en: 'Home' }) }}</a>
    <a routerLink="/services">{{ t({ fr: 'Services', en: 'Services' }) }}</a>
    <a routerLink="/contact">{{ t({ fr: 'Contact', en: 'Contact' }) }}</a>
  </nav>

  <div class="tolls">
    <button (click)="toggleGrayscale()">🌓 {{ t({ fr: 'Noir & Blanc', en: 'B&W Mode' }) }}</button>
    <button (click)="switchLang('fr')">🇫🇷 Français</button>
    <button (click)="switchLang('en')">🇬🇧 English</button>
  </div>
</header>

<router-outlet></router-outlet>
