<section class="services">
  <h1>{{ 'services.title' | translate }}</h1>

  <div class="service-card">
    <h3>{{ 'services.items.braids.title' | translate }}</h3>
    <p>{{ 'services.items.braids.description' | translate }}</p>
  </div>

  <div class="service-card">
    <h3>{{ 'services.items.weaves.title' | translate }}</h3>
    <p>{{ 'services.items.weaves.description' | translate }}</p>
  </div>

  <div class="service-card">
    <h3>{{ 'services.items.womenKids.title' | translate }}</h3>
    <p>{{ 'services.items.womenKids.description' | translate }}</p>
  </div>

  <div class="service-card">
    <h3>{{ 'services.items.care.title' | translate }}</h3>
    <p>{{ 'services.items.care.description' | translate }}</p>
  </div>
</section>