.main-footer {
  background-color: #FFD841; 
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: auto;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}